body {
    height: 100vh;
    background-color: #FFFAF6;
}
/******debut du header*********/
* {
    margin: 0;
    padding: 0;
}
/****font****/
@font-face {
    font-family: 'Alex Brush';
    src: url('../fonts/Alex_Brush/AlexBrush-Regular.eot');
    src: url('../fonts/Alex_Brush/AlexBrush-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.woff2') format('woff2'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.woff') format('woff'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fjalla One';
    src: url('../fonts/Fjalla_One/FjallaOne-Regular.eot');
    src: url('../fonts/Fjalla_One/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.woff2') format('woff2'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.woff') format('woff'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata/Prata-Regular.eot');
    src: url('../fonts/Prata/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Prata/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata/Prata-Regular.woff') format('woff'),
        url('../fonts/Prata/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*fin fonts*/

html {
    scroll-behavior: smooth;/*ajoute un effet au scroll vers les a */
}
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
}
header nav ul {
    height: 50px; /**hauteur de la UL**/
    display: flex; /**premettre aux enfants liste les uns a coté des autres**/
    list-style: none; /* enleve les ronds de la liste */
    align-items: center; /**répartition sur la hauteur**/
    justify-content: flex-end; /*repartition sur la largeur*/
}
header nav ul li {
    margin : 0 20px;
    padding: 30px;
}
header nav ul li a{
    text-decoration: none;/****enleve le soulignement****/
    color: #5D3222;
    font-family: 'Fjalla One';
    margin: 10px;
    transition: 0.5s;
}
header nav ul li a:hover {
    border-bottom: 2px solid  #5D3222; /** ajoute une bordure en bas lors du survol de couleur blanche */
}
#logo{
    font-family:'Alex Brush';
    font-size: 60px;
    color: #5D3222;
    margin-left: 30px;
}
.moncompte{
   
   
    background: url("../images/beaute-spa.jpg") center fixed ;
    background-size: cover;
    height: 810px;
    width: 1361px;   
    display: flex;   
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(226, 220, 220, 0.26);
    margin: 0 auto;
    border-radius: 20px 0;
    margin-top: 30px;
  
}
svg{
    
    fill: #C9856C;
    width: 160px;
    height: 160px;
    object-fit: cover;
   
  
}
.container-formulaire{
    font-family: 'Fjalla One';
    width: 481px;
    height: 486px;
    background: #F2EAE4;
    border-radius: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.petit-bonhomme{
    position: absolute;
    top: 0;
    transform: translateY(40%);
  
}
#email,#pwd {
    height: 50px;
    width: 330px;
    background: #FFFFFF;
    border-radius: 10px;
   
}
span{
    font-family: 'Fjalla One';
    color: #5D3222;
    font-size: 16px;
    font-weight: bold;  
}
a{
    font-family: 'Fjalla One';
    margin-left: 50px;
    text-decoration: none;
    cursor: pointer;
    color: #5D3222;
    font-size: 16px;
    font-weight: bold;
}
button{
    font-family: 'Fjalla One';
    margin-top: 50px;
    width: 324px;
    height: 50px;
    background: #C9856C;
    border-radius: 20px 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
}



