*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Alex Brush';
    src: url('/fonts/Alex_Brush/AlexBrush-Regular.eot');
    src: url('/fonts/Alex_Brush/AlexBrush-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Alex_Brush/AlexBrush-Regular.woff2') format('woff2'),
        url('/fonts/Alex_Brush/AlexBrush-Regular.woff') format('woff'),
        url('/fonts/Alex_Brush/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fjalla One';
    src: url('/fonts/Fjalla_One/FjallaOne-Regular.eot');
    src: url('/fonts/Fjalla_One/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Fjalla_One/FjallaOne-Regular.woff2') format('woff2'),
        url('/fonts/Fjalla_One/FjallaOne-Regular.woff') format('woff'),
        url('/fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prata';
    src: url('/fonts/Prata/Prata-Regular.eot');
    src: url('/fonts/Prata/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Prata/Prata-Regular.woff2') format('woff2'),
        url('/fonts/Prata/Prata-Regular.woff') format('woff'),
        url('/fonts/Prata/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/****************style general******************/
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body {
    height: 100vh;
    background-color: #fffaf6;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 0px 20px;
    font-family: 'Prata';
    font-size: 16px;
    margin: 0 auto;
    }
.grand{
        font-size: 30px;
        }
.btnV{
        background: #D9D7C5;
        color: #5D3222;
        }
.btnM{
    background: #C9856C;
    color: #D9D7C5;
}
/******debut du header*********/
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    height: 50px; /**hauteur de la UL**/
    display: flex; /**premettre aux enfants liste les uns a coté des autres**/
    list-style: none; /* enleve les ronds de la liste */
    align-items: center; /**répartition sur la hauteur**/
    justify-content: flex-end; /*repartition sur la largeur*/
    padding: 20px;
}
header nav ul li {
    margin : 0 20px;
    padding: 30px;
}
header nav ul li a{
    text-decoration: none;/****enleve le soulignement****/
    color: #5D3222;
    font-family: 'Fjalla One';
    margin: 10px;
    transition: 0.5s;
    padding-top: 20px;
}
header nav ul li a:hover {
    border-bottom: 2px solid  #5D3222; /** ajoute une bordure en bas lors du survol de couleur blanche */
}
#logo{
    font-family:'Alex Brush';
    font-size: 60px;
    font-weight: 400;
    color: #5D3222;
}
.first{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    background: url(/images/sect1\ img1.png) no-repeat left ;
    background-size: 550px 800px;
}
.sect1{
    width: 50%;
    position: relative;
    left: 10%;
}
.sect1 h1{
font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 65px;
color: #5D3222;
margin-bottom: 50px;
}

.sect2{
       width: 50%;
}
.sect2 img{
    width: 90%;
    border-radius: 100px 100px 0px 0px;
}
/************section 2 ***************/
.second{
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center;
        flex-direction: column;
        background: url(/images/Group\ 28section2.png);
        background-repeat: no-repeat;
        background-position: right;
}
.second h1{
text-align: center;
font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 48px;
color: #5D3222;
}
.second h3{
    text-align: center;
    font-family: 'Fjalla One';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: #5D3222;
}
.mere1{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.msg1{
    width: 270px;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px  30px 30px;
    background-color: #f2e7dc;
    overflow: hidden;
    
}
.msg1 div:nth-of-type(1){
    height: 200px;
}
.msg1 img{
    height: 100%;
    width: 100%;

}
.msg1 div:nth-of-type(2){
    padding: 20px;
    box-sizing: border-box;
}

.msg1 h2{
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #5D3222;
    margin-bottom: 10px;
}
.msg1 p{
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: #5D3222;
}

#block1{
    position: relative;
    top: 100px;
}
#block2{
    position: relative;
    top: 100px;
}

.last{  
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
       flex-wrap: wrap;
        background: url(/images/Ellipse\ 22.png);
        background-repeat: no-repeat;
        background-position: left 300px;
}

.carte{
    width: 1296px;
    height: 500px;
    background: #D9D9D9;
    border-radius: 0px 100px;
    

}
.carte >h3 {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #5D3222;
    margin-top: 50px;
    margin-left: 50px;
}
.carte >h1 {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #5D3222;
    text-align: left;
    margin-left: 50px;
}
.carte >p {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #5D3222;
    text-align: left;
    margin-left: 50px;
   
   
}
.carte .btn{
    display: inline-block;
    padding: 5px 50px;
    border-radius: 0px 20px;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 20px;
 
}

.carte> a{
    border: none;
    font-family: 'Prata';
    font-size: 18px;
    color: #fff;
}
.carte1{
  width: 395.95px;
  height: 486.96px;
  position: relative;
 left:800px;
 bottom: 265px;
}
.carte1 >img {
max-width: 100%;
height:auto;
border-radius: 100px 100px 0px 0px;

}
/********************fin de main**********************/
footer{

    background-color: #D9CBBF;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer >div>div>h1{
    font-family:'Alex Brush';
    font-size: 60px;
    font-weight: 400;
    color: #5D3222;
    line-height: 75px;
    padding: 50px;
    
}
footer div>div>h1>a{
    text-decoration: none;/****enleve le soulignement****/
    color: #5D3222;
}
.ul1{
   list-style: none;
   font-family: 'Prata';
   font-style: normal;
   color: #5D3222;
   padding: 50px;
  }
.ul1 >li{
    margin-top: 10px;
    margin-left: 40px;
}
.ul1>li>a{
    text-decoration: none;
    color: #5D3222;
}
.ul2{
    list-style: none;
    font-family: 'Prata';
    font-style: normal;
    color: #5D3222;
    padding: 50px;
   }
 .ul2 >li{
     margin-top: 10px;
     margin-left: 40px;
 }
 .ul2>li>a{
     text-decoration: none;
     color: #5D3222;
 }
 .foot1{
    
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    }
 .foot1 >p{
    font-family: 'Prata';
       font-style: normal;
       font-weight: 400;
       margin-bottom: 20px;
       
   }
   .foot1>p>a{
       font-family: 'Prata';
          font-style: normal;
          font-weight: 400;
          color: #5D3222;
      }
      .foot1>div> a:nth-last-of-type(2){
        margin: 20px;

      }
.foot2>ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    
    
    
}
.foot2 >ul>li{
 font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    
}
.foot2 >ul>li>a{
    font-family: 'Prata';
       font-style: normal;
       font-weight: 400;
       color: #5D3222;
   }
.divfoot1{
    display: flex;
    justify-content: center;
}

   
